.footer {
  background: rgba($color: #ffffff, $alpha: 0.1);
  padding: 1rem 2rem 0.8rem 2rem;
  border-top: 1px solid #111;
  border-radius: 47px; 
  //margin-bottom: 15px; 
  margin: 15px;
  font-family: 'PingFangSC, PingFang SC';
  .list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .menu {
      text-align: center;
      cursor: pointer;
    }
    .active {
      svg {
        fill: #34DBBC;
      }
      p {
        color: #34DBBC;
      }
    }
    svg {
      width: 26px;
      height: 26px;
      fill: rgba($color: #ffffff, $alpha: 0.5);
    }
    p {
      color: rgba($color: #ffffff, $alpha: 0.5);
      margin: 0;
      font-size: 1.1rem;
      line-height: 1.4rem;
    }
  }
}