.adm-list-default .adm-list-body {
  border: none;
  background-color: rgba(255, 255, 255, 0.05);
}

.adm-list-item-content {
  border-top-color: #312d2d;
}
.adm-list-item-content {
  border: none;
  padding-right: 0;
}
.adm-list-item {
  padding: 0;
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
}

.adm-list-item-content {
  border: none;
  padding-right: 0;
}
.adm-list-item {
  padding: 0;
  background-color: rgba(255, 255, 255, 0.05);
  border: none;
}




.frens-detail-page {
  padding: 18px 0;

  .frens-title {
    font-size: 2rem;
    border-bottom: 1px solid #aaa;
    padding: 0 12px 1rem 12px;
    font-weight: bold;
    span {
      font-family: 'number';

    }
  }
  .score-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    
  
    .score-detail-left {
      flex:1;
      padding-left: 3px;
      .type {
        font-family: 'PingFang SC';
        font-size: 18px;
        margin-bottom: 13px;
        
        //margin-top: 1px;
      }
      .score-detail-time {
        font-size: 14px;
        opacity: 0.8;
        margin-bottom: 12px;
        font-family: 'PingFang SC';
        color:rgba(255, 255, 255, 0.6)
      }
      .by-user {
        display: flex;
        align-items: center;
        gap: 6px;
        opacity: 0.9;
        margin-bottom: 16px;
        //margin-top: 1px;
        font-family: 'PingFang SC';
      }
      .user-icon {
        width: 24px;
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        border-radius: 50%;
        font-size: 12px;
        text-shadow: 1px 1px 1px #000;
        text-transform: uppercase;
      }
   
    }

    .score-detail-right {
      font-size: 16px;
      text-align: right;
      font-family: 'PingFang SC';
      color:#FFD255;
      display: flex;
      line-height: 22px;
      font-weight: bold;
      

      .score-coin{
        width: 20px;
        height: 20px;
        margin-left: 10px;
      }
    }

  }
}