.account-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  //height: 100vh;
  //background-color: #f9f9f9;
  padding-top: 20px;
}

.profile-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;

}

.profile-circle {
  width: 91px;
  height: 91px;
  border-radius: 50%;
  overflow: hidden;
  //border: 2px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
}

.profile-photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.user-name {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: white;
}

.button-container-account {  
  display: flex;  
  flex-direction: column; 
  width: calc(100% - 20px);  
  margin: 0 20px; 
}  
.custom-button {  
  width: 100%;  
  padding: 20px;   
  font-size: 16px;  
  display: flex;
  border: 1px solid rgba($color: #fff, $alpha: 0.1);  
  font-weight: bold;  
  background-color: rgba($color: #fff, $alpha: 0.1); 
  position: relative; 
  margin-bottom: 20px;

  .button-name{
    color: #BEC4D5;
    font-size: 15px;
    font-weight: bold;
    margin-left: 40px;
  }
}  
  
.custom-button .button-image {  
  position: absolute; 
  top: 50%; 
  transform: translateY(-50%); 
}  
  
.custom-button .button-image:first-of-type {  
  left: 10px; 
  width: 35px;
  height: 36px;
}  
  
.custom-button .button-image:last-of-type {  
  right: 10px; 
  width: 8px;
  //height: 14px;
}  
  

.user-profile-icon {
  border-radius: 50%;
  font-family: Bold;
  text-transform: uppercase;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 48px;
  color: white;
}
