.task-page {
  padding: 20px 10px;
  //background: linear-gradient(to top, #1b1a1a, #492626); /* 从下到上的渐变 */
  //min-height: 100vh;
  // animation: fadeIn 0.5s ease-in-out;

  .task-title {
    text-align: center;
    margin-bottom: 20px;
    background-image: url('/assets/common/task-title.png');
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    padding: 15px 5px;
    position: relative;


    img {
      display: block;
      margin: 0 auto;
    }

    .task-score-title {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;


      .unit-img {
        width: 35px;
        height: 35px;
        margin: 18px 0 12px 0;
      }

      .score {
        font-size: 45px;
        font-weight: bold;
        margin-top: 10px;
        margin-left: 5px;
        color: #fff;
        text-shadow: 3px 3px 1px rgba(0, 0, 0, 0.25);
        font-family: 'DINAlternate, DINAlternate;';
      }
    }



    .desc {
      font-size: 1.2em;
      color: #FFDC7B;
      //margin-top: 10px;
      margin-top: -10px;
      background-color: rgba(0, 0, 0, 0.2);
      padding: 5px 10px;
      border-radius: 5px;
    }
  }

  .task-tabs {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;

    .task-tab {
      padding: 8px 10px;
      border-radius: 5px;
      background-color: #000000;
      cursor: pointer;
      transition: background-color 0.3s;

      &.active {
        background-color: #000000;
        color: rgb(255, 210, 85);

      }

      &.unactive {
        background-color: rgba(0, 0, 0, 0.2);
        color: rgb(255, 255, 255);
      }
    }
  }

  .task-list {
    .skeleton {
      margin-bottom: 10px;
      border-radius: 10px;
      background-color: #ff0000;
    }

    .item-wrapper {
      // background-color: rgba(255, 255, 255, 0.1);
      //border-radius: 10px;
      //margin-bottom: 20px;
      //margin-bottom: 1.5rem;
      //padding: 15px;

      .item-wrapper-title {
        display: flex;
        align-items: center;
        //margin-bottom: 10px;

        .touch {
          width: 30px;
          height: 30px;
        }
      }

      .task-list-item {
        font-family: 'PingFang-SC, PingFang-SC';
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 10px 10px;
        margin-bottom: 10px;
        background-color: rgba(255, 255, 255, 0.1);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        //border-bottom: 1px solid #f0f0f0;
        position: relative;

        &:last-child {
          border-bottom: none;
        }

        .task-list-top-left-corner {
          position: absolute;
          top: 0;
          left: 0;
          padding: 1px 7px;
          background-color: #CCBAFF;
          color: #000;
          font-size: 13px;
          border-radius: 4px;
        }

        .task-list-left {
          display: flex;
          align-items: center;

          .middle-icon {
            width: 30px;
            height: 30px;
            margin-right: 10px;
          }

          .middle {
            .middle-name {
              font-size: 15px;
              font-weight: bold;
              color: #ffffff;
              //font-family: 'PingFang-SC, PingFang-SC';
              margin-bottom: 10px;
            }

            .reward {
              font-size: 1em;
              color: #FFD255;
              display: flex;
              align-items: center;
              margin-bottom: 8px;
              //font-family: 'PingFang-SC, PingFang-SC';

              .unit-img {
                width: 20px;
                height: 20px;
                margin-left: 5px
              }
            }


          }
        }

        .task-list-right {

          font-family: 'PingFang-SC, PingFang-SC';

          .task-done-img {
            width: 20px;
            height: 20px;
            margin-right: 15px;
          }

          .task-list-right-btn {
            &.Start {
              background-color: rgb(52, 219, 188);
              color: rgb(0, 0, 0);
              border-radius: 16px;
              padding: 5px 14px;
              border: 1px black;
              font-weight: bold;
            }
            &.Check {
              background-color: rgb(52, 219, 188);
              color: rgb(0, 0, 0);
              border-radius: 16px;
              padding: 5px 14px;
              border: 1px black;
              font-weight: bold;
            }

            &.Claim {
              background-color: rgb(52, 219, 188);
              color: rgb(0, 0, 0);
              border-radius: 16px;
              padding: 5px 14px;
              border: 1px black;
              font-weight: bold;
            }

            &.WaitForCollect {
              background-color: rgb(52, 219, 188);
              color: rgb(0, 0, 0);
              border-radius: 16px;
              padding: 5px 14px;
              border: 1px black;
              font-weight: bold;
            }
            &.loading {
              background-color: #ffc107;
              color: white;
            }

          }
        }
      }
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}