.checkIn-container {
  height: 100%;
  //background: var(--bgColor);
  background: #000000;
  width: 100%;
  .checkIn-first {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;

    .hooray {
      width: 250px;
      opacity: 0;
      animation: fadeIn forwards 2s 0.8s;
      transition:  all 1s;
      margin-top: 5vh;
      margin-bottom: 2rem;
    }
    .change-hooray {
      margin-top: 2vh;
      width: 200px;
    }
    .day {
      text-align: center;
      font-size: 18rem;
      color: #fff;
      text-shadow: 1px 2px 1px #fff;
      animation: displayNone forwards 0.2s 4s;
      font-family: 'PingFang-SC, PingFang-SC';
      font-weight: 800;
    }

    .daily-reward {
      font-size: 2.8rem;
      font-family: 'bold';
      animation: scaleBig forwards 1s;
      transition: all 1s;
      color: #fff;
      font-weight: bold;
      margin: 0 auto;
      align-items: center; 
      justify-content: center; 
      text-align: center; 
      font-family: 'PingFang-SC, PingFang-SC';
    }

    .rewards-container {
      //background: #515151;
      color: #FFD255;
      display: flex;
      align-items: center;
      border-radius: 10px;
      padding: 6px 14px;
      margin-top: 3px;
      gap: 4px;
      font-size: 1.7rem;
      opacity: 0;
      //animation: scaleBig forwards 1s;
      transition: all 1s;
      .rewards-logo {
        width: 18px;
        height: 18px;
        object-fit: contain;
      }
    }
    @keyframes scaleBig {
      from {
        transform: scale(0.5);
      }

      to {
        transform: scale(1);
      }
    }
    @keyframes displayNone {
      from {
        display: block;
      }
      to {
        //display: none;
      }
    }
  }
  .rewards-detail {
    padding: 18px 12px 32px 12px;
    width: 100%;
    opacity: 1;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    animation: scaleBig forwards 1s;
    margin-top: 30px;
  }
  
  .check-in-title {
    margin: 2rem 0 1rem 0;
    font-size: 1.2rem;
  }
  .rewards-detail-top {
    width: 90%;
    margin: 0 auto;
    button {
      color:#fff;
      background-color: #00A995;
      margin-top: 35px;
      width: 100%;
      border-radius: 12px;
      border: none;
      height: 70%;
      box-shadow: 0px 3px 4px 0px #00665A;
    }
  }
}